*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 100vh;
    background: #F3F3FB;
    margin: 0 auto;
}
.contenedor{
    max-width: 1200px;
    margin-top: 1rem;
    display: grid;
    justify-items: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.item{
    background: white;
    border-radius:10px;
}
img{
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.desc{
    padding: 1rem;
}
h2{
    margin-bottom: 5px;
}
a{
    color: #8A4ACA;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .contenedor{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

