@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h2{
    color: #66E8F9;
}
html{
    background: #3F424B;
}
p{
    color: white;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: 10rem auto;
    gap: 2rem;
}
